In [1]:
import pandas as pd
import numpy as np

In [5]:
data=pd.read_csv("D:\\Switch\\Projects\\Uplift Modeling\\Data\\criteo-uplift-v2.1.csv")

df=data.sample(n=2000000,random_state=42)

del data

In [6]:
df.shape

(2000000, 16)

In [9]:
df.head()

,f0,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,f11,treatment,conversion,visit,exposure
6540047,21.265452,10.059654,8.214383,4.679882,10.280525,4.115453,-12.641800,4.833815,3.971858,13.190056,5.300375,-0.168679,0,0,0,0
12657168,25.744310,10.059654,8.214383,4.679882,10.280525,4.115453,-3.282109,4.833815,3.971858,13.190056,5.300375,-0.168679,1,0,0,0
9588964,12.616365,10.059654,8.813527,4.679882,10.280525,4.115453,0.294443,4.833815,3.906514,13.190056,5.300375,-0.168679,1,0,0,0
4905360,12.616365,10.059654,8.876285,4.679882,10.280525,4.115453,0.294443,4.833815,3.895862,13.190056,5.300375,-0.168679,1,0,0,0
7937047,12.616365,10.059654,9.007057,4.679882,10.280525,4.115453,0.294443,4.833815,3.890052,13.190056,5.300375,-0.168679,1,0,0,0

In [8]:
df.isna().mean()

f0            0.0
f1            0.0
f2            0.0
f3            0.0
f4            0.0
f5            0.0
f6            0.0
f7            0.0
f8            0.0
f9            0.0
f10           0.0
f11           0.0
treatment     0.0
conversion    0.0
visit         0.0
exposure      0.0
dtype: float64

In [10]:
df['treatment'].value_counts(normalize=True)

treatment
1    0.850383
0    0.149617
Name: proportion, dtype: float64

To 85% people, promo or discount was shown.

In [ ]:
conv_treated = df[df['treatment']==1]['conversion'].mean()
conv_control = df[df['treatment']==0]['conversion'].mean()

ate = conv_treated - conv_control #Average treatment effect.

conv_treated, conv_control, ate

(np.float64(0.0031644546254719196),
 np.float64(0.0019282632597340534),
 np.float64(0.0012361913657378662))

On average, the promo/discount increases the probability of conversion by 0.124%.

In [12]:
incremental_conversions = ate * len(df)
incremental_conversions

np.float64(2472.3827314757323)

Stratified splitting because of class imabalance.

In [13]:
from sklearn.model_selection import train_test_split

X = df.drop(columns=['conversion'])
y = df['conversion']

X_train, X_test, y_train, y_test = train_test_split(
    X, y,
    test_size=0.3,
    random_state=42,
    stratify=df[['treatment','conversion']]
)

In [ ]:
X_train['treatment'].value_counts(normalize=True)

treatment
1    0.850384
0    0.149616
Name: proportion, dtype: float64

In [17]:
y_train.mean(),y_test.mean()

(np.float64(0.0029792857142857143), np.float64(0.00298))

In [18]:
X_test['treatment'].value_counts(normalize=True)

treatment
1    0.850383
0    0.149617
Name: proportion, dtype: float64